<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-12">
                            <label>Booking for Course- {{Title}}</label>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3">Id:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Id}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#courseTitle">Course Title:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Title}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#description">Description:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Description}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#reference">Reference:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Reference}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#duration">Duration - Weeks:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Duration}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#fees">Fees - £:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Fees}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#status">Status:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Status}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#location">Location:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{Location}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#totalplaces">Total Places:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{TotalPlaces}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="#availableplaces">Available Places:</label>
                                        <div class="col-sm-9 text-left">
                                            <label class="control-label">{{AvailablePlaces}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-6 col-sm-6">
                                            <button ng-click="book()" class="btn btn-default">
                                                Booking to be implemented...
                                            </button>
                                            <button ng-click="goBack()" class="btn">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-left">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>